{% load static %}

<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'datos/main.css' %}">

    {% if title %}
        <title>Hilda Estate - {{ title }}</title>
    {% else %}
        <title>Hilda Estate</title>
    {% endif %}

    <script src="http://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'datos-home' %}">Hilda Estate</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'datos-home' %}">Inicio</a>
              <a class="nav-item nav-link" href=#>Acerca</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <ul class="navbar-nav">
                    <!-- Datos Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Datos </a>
                           <ul class="dropdown-menu">
                           <li><a class="dropdown-item" href="{% url 'csv_upload' %}"> Cargar </a></li>
                           <li><a class="dropdown-item" href="{% url 'validate_data' %}"> Validar </a></li>
                           <li><a class="dropdown-item" href="{% url 'csv_export' %}"> Exportar </a></li>
                           <li><a class="dropdown-item" href="{% url 'delete_data' %}"> Eliminar </a></li>
                           </ul>
                    <!-- Graficos Dropdown -->
                    <li class="nav-item dropdown">
                		   <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Análisis </a>
                		    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'dash_info' %}" target="_blank"> Dash Info </a></li>
                        <li><a class="dropdown-item" href="{% url 'dash_semana' %}" target="_blank"> Dash Semana </a></li>
                        <li><a class="dropdown-item" href="{% url 'choropleth_chart' %}"> Choropleth_Chart </a></li>
                			  <li><a class="dropdown-item" href="{% url 'treemap_chart' %}"> Treemap_Chart </a></li>
                			  <li><a class="dropdown-item" href="{% url 'gantt_chart' %}"> Gantt_Chart </a></li>
                		    </ul>
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}"> Perfil </a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}"> Logout </a></li>
                    </li>
                </ul>

              {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}"> Login </a></li>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div>
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                 {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
    </html>
