{%  extends "datos/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<!-- <br>
<div class="row">
	<div class="col-md-4">
		<div class="card card-body">


			<p>¿Está seguro que desea borrar todos los datos?</p>

			<form action="{% url 'delete_data' %}" method="POST">

				{% csrf_token %}
				<a class="btn btn-warning" href="{% url 'csv_upload' %}">Cancelar</a>

				<input class="btn btn-danger" type="submit" name="confirm" value="Borrar">
			</form>
		</div>
	</div>
</div> -->

<br>
<div class="row">
	<div class="col-md-4">
		<div class="card card-body">

      <p><b>Eliminar datos:</b></p>
      <form action="" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
					<br>
					<p>¿Está seguro que desea borrar los datos?</p>
					<a class="btn btn-secondary" href="{% url 'csv_upload' %}">Cancelar</a>
          <button type="submit" class="btn btn-danger" name="confirm">Borrar</button>
      </form>
    </div>
	</div>
</div>

{% endblock %}
