{%  extends "datos/base.html" %}
{% load static %}

{% block content %}
<br>
<br>
<h3>Beanalytics: Enhancing Coffee Farming Efficiency through Data-Driven Insights</h3>
<br>
<div class="">
  <p>
    This project involves the development of a web application designed to improve coffee farming through data-driven insights. Aimed at enhancing operational efficiency and profitability, the application focuses on the granular collection and analysis of field data. It serves as an instrument for evaluating the impact of innovative farming techniques on coffee cultivation.<br>
    <br>
    At the core of the project lies the integration of third-party applications, facilitating the seamless aggregation of data related to labor and inputs directly into QuickBooks. This integration enables cost accounting practices, laying a solid foundation for financial analysis and management.<br>
    <br>
    The web application acts as a central hub, amalgamating additional data pertaining to environmental and agricultural metrics. This data undergoes cleaning and processing to ensure its readiness for in-depth analysis. The application's ability to transform raw data into a structured format paves the way for the generation of insightful visualizations, significantly enhancing decision-making processes.<br>
  </p>
</div>

{% endblock %}
