{%  extends "datos/base.html" %}
{% load static %}

{% block content %}

<h3>Plataforma de análisis de información</h3>
<br>
<div class="">
  <h5>Ultimos cambios:</h5>
  <p>
      1. Análisis/Dash Semana: actualización de dashboard por inclusión de datos nuevos <br>
      2. Datos/Revisar: revisión de CSV por items duplicados o semanas de +65 horas <br>
      3. Datos/Eliminar: inclusión de opción rango de fechas <br>
      4. Datos: corrección rangos de fecha dinámicos <br>
  </p>
</div>

{% endblock %}
